.map-background {
  width: 100%;
  height: 200px;
  color: #fff;
  padding: 15px;
  background-color: #5b79cc;
  background-image: url(../../../../../assets/map_background.jpg);
  background-size: 100% auto;
  background-position: center;
  margin: 15px 0;
}

::ng-deep .nav-tabs {
  margin-top: 10px;
  margin-bottom: 10px;

  .nav-link {
    &.active, &:hover {
      border-color: transparent;
      border-bottom: 2px solid #ff3640;
    }
  }
}

.spot, .comment {
  border: 1px solid #eee;
  border-radius: 10px;
  padding: 15px;
  cursor: pointer;
  margin-bottom: 10px;

  &.active {
    background: #ee7978;
  }

  &:hover {
    background: #fceeee;
  }

  h2 {
    font-size: 15px;
    margin-bottom: 5px;
  }
}